<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Jma Welcome Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Responsive stuff -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <link href="css/jma.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
  <script src="js/jquery.progressTimer.js"></script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  <style>
  h1, h2, h3, h4, h5, legend, p, ul, ol {
  color: #5e605d;
}
  </style>
</head>
<body> 
    <div class="thumbnail" style="width: 600px; margin-left: 10%; margin-top: 2%;">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" alt="<= @reference %>"  style="display: block; margin-left: auto;margin-right: auto;"></a>
        <br>
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px; margin-bottom: 20px;">
          <br>
      <p>Dear <%=@name%>,</p>
      <p><%= @text1%></p>
     <% if @amount > 0 %>
        <% if @payment_date_formatted.size > 0 %>
          <p><b>To hold your appointment* </b>please<%= @payment_text %>on our <a href="https://jma-tools.herokuapp.com/jma_payment_form?amount=<%= @amount %>&category_id=<%= @category.id %>&coach_id=<%= @coach.id%>" style="color: #8bc129;">Secure Payment Page</a>&nbsp<b>within 24 hours of receipt of this email.&nbsp</b>
            <% if @template == "interview" or @template == "pay_per_session"%>  
            Please note we will keep this card on file and payments for your session(s) will be processed on Mondays for the sessions you have scheduled for that week.
            <% end %>
          </p>
        <% else %>
          <p><b>To hold your appointment* </b>please<%= @payment_text %>on our <a href="https://jma-tools.herokuapp.com/jma_payment_form?amount=<%= @amount %>&category_id=<%= @category.id %>&coach_id=<%= @coach.id %>" style="color: #8bc129;">Secure Payment Page</a>&nbsp<b>within 24 hours of receipt of this email.&nbsp</b>
          <% if @template == "interview" or @template == "pay_per_session"%>  
            Please note we will keep this card on file and payments for your session(s) will be processed on Mondays for the sessions you have scheduled for that week.
            <% end %>
          </p>
        <% end %>
      <% else %>
        <p><b>To hold your appointment* </b>please<%= @payment_text %>on our <a href=" https://jma-tools.herokuapp.com/jma_payment_form" style="color: #8bc129;">Secure Payment Page</a>&nbsp<b>within 24 hours of receipt of this email.&nbsp</b>
        <% if @template == "interview" or @template == "pay_per_session"%>   
            Please note we will keep this card on file and payments for your session(s) will be processed on Mondays for the sessions you have scheduled for that week.
            <% end %>
        </p>  
      <% end %>
      <p><%= @text2%></p>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <div class="well">
             <% if @appt_date_formatted.size > 0 %>
              <p><b>Date/Time:</b> <%= @appt_date_formatted %>, at <%= @appt_start %> - <%= @appt_end %> CST</p>
            <% end %>
            <p><b>Location: </b><%= @location %> office (See more details below)</p>
            <p><b>Coach: </b><%= @coach.name%>; (p) <%= @coach.phone%>, (e) <a href="mailto:<%= @coach_email%>" style="color: #8bc129;"><%= @coach.email%></a></p>
          </div>
        </div>
     </div>
     
      <% if @interview_text1.size > 0 %>
      <p><b>Information Requested: </b><%=@interview_text1%> <b> as soon as possible.</b></p>
      <p><b>About your interview coaching session: </b> <%=@interview_text2 %></p>
      <br>
      <p><b>Important things to note: </b></p>
      <p><%=@interview_text3%></p>
      <p>1. alert us so that your coach can give feedback in a more gentle manner</p>
      <p>2. understand that the purpose of the mock interview is to gain critical feedback to strengthen areas that may hinder success in obtaining employment</p>
      <p>3. consider that a mock interview might not be appropriate for you. You may take responsibility for your well-being and choose to cancel the session. There is a 48-hour cancellation policy for interview coaching.</p>
    <% end %>
     <br>
     <p><b><%=@text3%></b></p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <p><b><u>Downtown Office</u></b></p>
          <p>405 N. Wabash, Suite 2615</p>
          <p>Chicago, IL  60611</p>
         </div>
       </div>
     </div>
     <p><%=@text4%></p>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <p><b><u>North Side Office</u></b></p>
          <p>4860 N Paulina St</p>
          <p>Chicago, IL  60640</p>
         </div>
       </div>
     </div>
     
    <p><%=@text5%></p>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <p><b><u>Phone Sessions</u></b></p>
          <p>Contact your coach at the phone number above. Please call at exactly your session time, so as not to interrupt the prior client. If your call is not answered, please try again in 2 minutes. </p>
         </div>
       </div>
     </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <p><b><u>Cancellations</u></b></p>
          <p>Should you need to cancel your first session, please let as know as soon as possible. We will do our best to reschedule. Please know that we have a strict cancellation policy for subsequent appointments, and your coach will discuss this in detail.</p>
         </div>
       </div>
     </div>
    <p><%=@closing_text%></p>
    <p>Best regards,</p>
    <p>Kelly</p>
</div>
</body>
</html>
