  <!DOCTYPE html>
  <html>
   <head>
    <meta charset="utf-8">
    <title>Jma Welcome Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Responsive stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <link href="css/jma.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
    <script src="js/jquery.progressTimer.js"></script>


      <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
      <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
      <![endif]-->
    <style>
    h1, h2, h3, h4, h5, legend, p {
    color: #5e605d;
  }
    </style>
    </head>

  <body>  <div class="thumbnail" style="width: 600px; margin-left: 10%; margin-top: 2%;">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" alt="<= @reference %>"  style="display: block; margin-left: auto;margin-right: auto;"></a>
        <br>
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px; margin-bottom: 20px;">
          <br>
      <p>Hello everyone,</p>
      <p><%= @greeting%> </p>
      <p><%= @text1%><b><%= @appt_date_formatted %></b>,&nbsp on or before<b>&nbsp<%= @appt_start %> CT</b>.&nbsp</p>
      <p><%= @text2%></p>
      <p><%= @text3%></p>
      <div class="row">
        <div class="col-lg-12">
          <p><%= @closing_text %></p> 
          <p>Kelly</p>
        </div>
      </div>
      <br><i>
      <p>Please note - the attached template must be opened using Adobe Reader (available for free here: <a href="http://get.adobe.com/reader/">get.adobe.com/reader</a> or Adobe Acrobat to be functional. Using another PDF reader such as Preview on a Mac will result in the form not functioning correctly. </i></p>
      <br>

      <p><i>Please save your completed form as Post Workshop Homework-First Name Last Name (example: Post Workshop Homework-Joe Smith) and attach it in an email to <a href="mailto:support.team@jodymichael.com">support.team@jodymichael.com</a>&nbsp by the due date.  If you have any trouble with the document, please let me know!</i></p>
          
     </div>
    <br>
</div>
</body>
