<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Jma Welcome Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Responsive stuff -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <link href="css/jma.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
  <script src="js/jquery.progressTimer.js"></script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  <style>
  h1, h2, h3, h4, h5, legend, p {
  color: #5e605d;
}
  </style>
  </head>

  <body>
    <div class="thumbnail" style="width: 600px; margin-left: 10%; margin-top: 2%;">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" alt="<= @reference %>"></a>
				<br>
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px; margin-bottom: 20px;">
          <br>
          <p>Dear <%=@name%>,</p>
          <p>Welcome to Jody Michael Associates. We are delighted to have the opportunity to work with you.  You are confirmed for the following appointment(s).</p>
          <br>
           <div class="row">
            <div class="col-lg-10">
              <div class="well">
                 <% if @appt_date_s.size > 0 %>
                  <p><b>Date/Time</b> <%= @appt_date_s %>, at <%= @appt_start %> - <%= @appt_end %> CST</p>
                <% end %>
                <p><b>Location: </b><%= @location %> office (See more details below)</p>
                <p><b>Coach: </b><%= @coach_name%>; (p) <%= @coach_phone%>, (e) <a href="mailto:<%= @coach_email%>" style="color: #8bc129;"><%= @coach_email%></a></p>
              </div>
            </div>
         </div>
          <br>
           <p style="color: #5e605d;"><b>Coach: </b><%= @coach_name%>; (p) <%= @coach_phone%>, (e) <a href="mailto:<%= @coach_email%>" style="color: #8bc129;"><%= @coach_email%></a></p>
           <% if @amount > 0  && @payment_date_s.size > 0%>
            <p><b>Payment: </b>If you with to pay with a credit card, please enter your information on  our <a href=" https://accept-payment.herokuapp.com/jma_payment_form?amount=<%= @amount %>" style="color: #8bc129;">Secure Payment Page</a> by <%= @payment_date_s %>.</a></p>
            <p>*If you do not submit by the above date, you must pay with cash or a check at the beginning of your appointment.</p>
          <% else %>
            <p><b>Payment: </b>If you with to pay with a credit card, please enter your information on  our <a href=" https://accept-payment.herokuapp.com/jma_payment_form" style="color: #8bc129;">Secure Payment Page</a> by <%= @payment_date_s %>.</a></p>
            <p>*If you do not submit by the above date, you must pay with cash or a check at the beginning of your appointment.</p>
                     <% end %>
          <br>
         <p><b>Office Locations:</b></p>
        <p>Please note, whether you are arriving at the downtown office or the north side office, you should let yourself in without knocking or ringing the doorbell. Don't worry, you are not being rude!  The reason we ask you to let yourself in is because your coach or therapist will likely be in session with another client when you arrive, and will not be able to open the door for you</p>
        <p>Your coach or therapist will greet you in the waiting area at the beginning of your scheduled time.</p>
        <br>
        <div class="row">
          <div class="col-lg-10">
            <div class="well">
              <p><b><u>Downtown Office</u></b></p>
              <p>405 N. Wabash, Suite 2615</p>
              <p>Chicago, IL  60611</p>
             </div>
           </div>
         </div>
        <p>Upon arrival at our downtown office, please sign in with the building's concierge and take the elevators up to the 26th floor. Please let yourself into the office and have a seat in the waiting area directly to the right.  </p>
        <p>Parking is available for JMA clients.  Please pull all the way up and ask for the garage keys for Jody Michael Associates at the building’s concierge.  Open the black leather pouch and all the instructions will be there for you.  If the keys are not available, the client in the time slot before you may have parked – you can wait for the keys and may need to cut into your session time 5-10 minutes to park.</p>
        <br>
        <div class="row">
          <div class="col-lg-10">
            <div class="well">
              <p><b><u>North Side Office</u></b></p>
              <p>4860 N Paulina St</p>
              <p>Chicago, IL  60640</p>
             </div>
           </div>
         </div>
         
        <p>Upon arrival at our north side office, you will note that this is a residential building with two main entrances.  Please let yourself in to the door to your right.  Once inside, walk up the stairs and have a seat in the waiting area directly to the left.  This is also the location of JMA's career exploration center. You will receive more information if this applies to your services.</p>
        <p>Free street parking is available most times.  If you need a temporary permit, please let us know when you arrive. </p>
         
        <p>Please note: There are pets at the north side location - if you have any concerns, please let us know in advance of your session.</p>
         
        <p>We look forward to the opportunity to work with you!</p>
         
        <p>Best regards,</p>
        <p>Kelly</p>
  </div>
  
</body>
</html>
