<div style="margin-left:5%;">
<p><%= @on_complete_msg %></p>

  <form action="<%= @on_complete_redirect %>" method="<%= @on_complete_method %>"">
    <% if !@param_name.nil? %>
      <input type="hidden" name="<%= @param_name %>" value="<%= @param_value %>">
    <% end %>
    <input type="submit" value="Done" class="btn btn-success"  >
  </form>
  <br> 
</div>
