<div class="container" style= "margin-bottom: 50px;">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-2">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-flash"></i> Links</h3> 
      <hr>
      <ul class="nav nav-stacked">
        <li><a href="/new_workshop"><i class="glyphicon glyphicon-plus"></i> Add Workshop</a></li>
        <li><a href="/workshops"><i class="glyphicon glyphicon-briefcase"></i> Workshops</a></li>
        <li><a href="/coaches"><i class="glyphicon glyphicon-bullhorn"></i> Coaches</a></li>
        <li><a href="/categories"><i class="glyphicon glyphicon-align-justify"></i> Categories</a></li>
    </div><!-- /span-2 -->
    <div class="col-sm-5">
      <h3><i class="glyphicon glyphicon-pencil"></i> &nbsp Workshop Attendee</h3>  
      <hr>
      <div class="row">
       <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <i class="glyphicon glyphicon-pencil pull-right"></i>
              <h4>Edit Workshop Attendee</h4>
            </div>
          </div>
          <div class="panel-body">
            <form class="form form-vertical" action="<%=@submit_callback%>" method="post" >  
              <fieldset>
                <br>
                <% if !@errors.empty? %>
                   <legend style="color: red;  font-weight: bold; font-size: 14px;"
                    <p>The Following Errors Were Encountered: </p>
                    <% @errors.each do |e| %>
                      <p><%=e%></p>
                    <% end %>
                  </legend>
                <% end %>
                <div class="control-group" >
                  <div class = "row">
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Name</label> 
                      <input type="text" class="form-control" name="name"  title="Name" placeholder="Name" value="<%=@guest.name%>" required >
                    </div>
                    <div class="col-md-6">
                      <label class="control-label" for="textarea">Client Type</label>  
                      <select name="client_type"  class="form-control" class="form-control" style="width:100%; ">
                        <% if @guest.client_type.nil? %>
                        <% @guest.client_type = @client_types[0] %>
                        <% end %>
                        <% @client_types.each do |client_type|%>   
                          <% if @guest.client_type == client_type %>       
                            <option value="<%= client_type %>" name="client_type" selected><%= client_type %></option>
                          <% else %>
                            <option value="<%= client_type %>" name="client_type" ><%= client_type %></option>
                          <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class = "row">
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Email</label>
                      <input type="text" class="form-control" name="email" title="Email"  placeholder="Email" value="<%=@guest.email%>" >
                    </div> 
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Amount</label>
                      <input type="text" class="form-control" name="amount" title="Amount"  placeholder="Amount" value="<%=@guest.amount%>" >
                    </div>   
                  </div>
                  <div class = "row">
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Phone</label>
                      <input type="text" class="form-control" name="phone" title="Phone"  placeholder="Phone" value="<%=@guest.phone%>" >
                    </div> 
                    <div class="col-md-6">
                      <label class="control-label" for="textarea">Paid</label>  
                      <select name="paid"  class="form-control" class="form-control" style="width:100%; ">
                          <option value="true">Yes</option>
                          <option value="false" selected>No</option>
                      </select>
                    </div> 
                  </div>
                  <div class = "row">
                    <div class = "col-md-12">
                      <label class="control-label" for="textarea">Lunch</label>
                      <textarea type="text" class="form-control" rows="4" name="lunch" title="Lunch"  placeholder="Place Lunch Order Here"  ><%=@guest.lunch%></textarea>
                    </div> 
                  </div>
                  <div class = "row">
                    <div class = "col-md-12">
                      <label class="control-label" for="textarea">Notes</label>
                      <textarea type="text" class="form-control" rows="4" name="notes" title="Notes"  placeholder="Additional Notes"  ><%=@guest.notes%></textarea>
                    </div> 
                  </div>
                  <input type="hidden" name="id" value = "<%= @guest.id%>">
                </div>
              </fieldset>
              <hr>
              <div class="form-actions">
                <button type="submit" value="Submit" name="commit" class="btn btn-success">Save</button>
                <button type="reset" class="btn" onclick="history.go(-1);">Cancel</button>
              </div>
            </form>
          </div><!-- panel body -->
      </div><!-- panel default -->
      </div><!-- col sm 5 -->
    </div><!-- col sm 2-->
  </div><!-- row -->
</div><!--/container-->