<section id="forms"  style="margin-left: 30%;">
    <div class="col-md-5">
    <br>
      <form class="form-horizontal well" action="/save_payment" method="post" > 
        <fieldset>
          <legend>Edit Payment</legend>
          <br>
          <% if !@errors.empty? %>
             <legend style="color: red;  font-weight: bold; font-size: 14px;"
              <p>The Following Errors Were Encountered: </p>
              <% @errors.each do |e| %>
                <p><%=e%></p>
              <% end %>
            </legend>
          <% end %>

          <div class="control-group" >
              <label class="control-label" for="textarea">Name</label> 
              <input type="text" class="form-control" name="name" value="<%=@payment.name%>" required >
              <label class="control-label" for="textarea">Payment Amount</label>
              <input type="text" class="form-control" name="amount" value="<%=@payment.amount%>" required >

              <label class="control-label" for="textarea">Category</label> 
              <select name="category_id" class="form-control" class="form-control" style="width:100%; "> 
              <% categories.each do |category|%>         
                <% if @payment.category_id == category.id%>
                   <option value="<%= category.id %>" selected><%= category.name %></option>
                <%else%>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              <% end %>
              </select>

              <input type="hidden" name="payment_id" value="<%= @payment_id%>">
              <label class="control-label" for="textarea">Coach</label>  
              <select name="coach_id" class="form-control" style="width:100%; ">
                <% coaches.each do |coach|%>         
                  <% if @payment.coach_id == coach.id%>
                    <option value="<%= coach.id %>" selected><%= coach.name %></option>
                  <%else%>
                    <option value="<%= coach.id %>"><%= coach.name %></option>
                  <% end %>
                <% end %>
              </select>
              <hr>
              <div class="form-actions">
                <button type="submit" class="btn btn-success" title="Select to Save Payment Information">Save</button>
                <button type="reset" class="btn">Cancel</button>
              </div>
        </fieldset>
      </form>
    </div>
</section>
