<div class="container" style= "margin-bottom: 50px;">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-2">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-flash"></i> Links</h3> 
      <hr>
      <ul class="nav nav-stacked">
        <li><a href="/new_workshop"><i class="glyphicon glyphicon-plus"></i> Add Workshop</a></li>
        <li><a href="/workshops"><i class="glyphicon glyphicon-briefcase"></i> Workshops</a></li>
        <li><a href="/coaches"><i class="glyphicon glyphicon-bullhorn"></i> Coaches</a></li>
        <li><a href="/hab_codes"><i class="glyphicon glyphicon-bullhorn"></i> Hab Codes</a></li>
        <li><a href="/categories"><i class="glyphicon glyphicon-align-justify"></i> Categories</a></li>
        <li><a href="/logs"><i class="glyphicon glyphicon-align-justify"></i> Logs</a></li>
    </div><!-- /span-2 -->
    <div class="col-sm-5">
      <h3><i class="glyphicon glyphicon-pencil"></i> &nbsp Hab Code</h3>  
      <hr>
      <div class="row">
       <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <i class="glyphicon glyphicon-pencil pull-right"></i>
              <h4>Edit Hab Code</h4>
            </div>
          </div>
          <div class="panel-body">
            <form class="form form-vertical" action="<%= @submit_callback %>" method="post" > 
       
              <fieldset>
                <br>
                <% if !@errors.empty? %>
                   <legend style="color: red;  font-weight: bold; font-size: 14px;"
                    <p>The Following Errors Were Encountered: </p>
                    <% @errors.each do |e| %>
                      <p><%=e%></p>
                    <% end %>
                  </legend>
                <% end %>
                <div class="control-group" >
                  <div class = "row">
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Code</label> 
                      <input type="text" class="form-control" name="code"  title="Code" value="<%=@hab_code.code%>" required >
                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Coach</label>  
                      <select name="coach_id" class="form-control" >
                        <% @coaches.each do |coach|%>  
                          <% if @hab_code.coach.nil?  %>
                            <option value="<%= coach.id %>"><%= coach.name %></option>
                          <% else %>
                            <% if @hab_code.coach.name == coach.name %>       
                                <option value="<%= coach.id %>" selected><%= coach.name %></option>
                            <% else %>
                                <option value="<%= coach.id %>"><%= coach.name %></option>
                            <% end %>
                          <% end %>
                        <% end %>
                      </select>
                    </div>

                      
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">First Name</label> 
                      <input type="text" class="form-control" name="first_name"  title="First Name" value="<%=@hab_code.first_name%>" required >
                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Last Name</label> 
                      <input type="text" class="form-control" name="last_name"  title="Last Name" value="<%=@hab_code.last_name%>" required >
                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Email</label> 
                      <input type="text" class="form-control" name="email"  title="Email" value="<%=@hab_code.email%>"  >
                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Date Sent</label> 
                      <% if @hab_code.date_sent.nil? %>
                        <input type="text" class="form-control" name="date_sent"  title="Date Sent"  id="dp1"  value="" > 
                      <% else %>
                        <input type="text" class="form-control" name="date_sent"  title="Date Sent"  id="dp1"  value="<%=@hab_code.date_sent.strftime("%m/%e/%Y")%>" > 
                      <% end %>

                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Registered</label> 
                      <select name="registered" class="form-control" >
                        <% if @hab_code.registered == true %>
                          <option value="true" selected>yes</option>
                          <option value="false" >no</option>
                        <% else %>
                          <option value="true" >yes</option>
                          <option value="false" selected>no</option>
                        <% end %>
                      </select >
                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Completed</label> 
                      <% if @hab_code.completed.nil? %>
                        <input type="text" class="form-control" name="completed"  title="Completed"  id="dp1"  value="" > 
                      <% else %>
                        <input type="text" class="form-control" name="completed"  title="Completed"  id="dp1"  value="<%=@hab_code.completed.strftime("%m/%d/%Y")%>" > 
                      <% end %>
                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Debriefed</label> 
                      <select name="debriefed" class="form-control" >
                        <% if @hab_code.debriefed %>
                          <option value="true" selected>yes</option>
                          <option value="false" >no</option>
                        <% else %>
                          <option value="true" >yes</option>
                          <option value="false" selected>no</option>
                        <% end %>
                      </select >
                    </div>
                    <div class = "col-md-8">
                      <label class="control-label" for="textarea">Report Sent</label> 
                      <select name="report_sent" class="form-control" >
                        <% if @hab_code.report_sent  %>
                          <option value="true" selected>yes</option>
                          <option value="false" >no</option>
                        <% else %>
                          <option value="true" >yes</option>
                          <option value="false" selected>no</option>
                        <% end %>
                      </select >
                    </div>
                  </div>
              </fieldset>
              <input type="hidden" name="id" value="<%= @hab_code.id%>">
              <hr>
                <div class="form-actions">
                  <button type="submit" value="Submit" name="commit" class="btn btn-success">Save</button>
                  <button type="reset" class="btn" onclick="history.go(-1);">Cancel</button>
                </div>
            </form>
          </div><!-- panel body -->
      </div><!-- panel default -->
      </div><!-- row -->
    </div><!-- col sm 10-->
       <hr>
  </div><!-- row -->
  
</div><!--/container-->