<div class="container" style= "margin-bottom: 50px;">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-2">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-flash"></i> Links</h3> 
      <hr>
      <ul class="nav nav-stacked">
        <li><a href="/new_workshop"><i class="glyphicon glyphicon-plus"></i> Add Workshop</a></li>
        <li><a href="/workshops"><i class="glyphicon glyphicon-briefcase"></i> Workshops</a></li>
        <li><a href="/coaches"><i class="glyphicon glyphicon-bullhorn"></i> Coaches</a></li>
        <li><a href="/categories"><i class="glyphicon glyphicon-align-justify"></i> Categories</a></li>
        <li><a href="/logs"><i class="glyphicon glyphicon-align-justify"></i> Logs</a></li>
    </div><!-- /span-2 -->
    <div class="col-sm-5">
      <h3><i class="glyphicon glyphicon-pencil"></i> &nbsp Workshop Attendee</h3>  
      <hr>
      <div class="row">
       <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <i class="glyphicon glyphicon-pencil pull-right"></i>
              <h4>Edit Workshop Attendee</h4>
            </div>
          </div>
          <div class="panel-body">
            <form class="form form-vertical" action="<%=@submit_callback%>" method="post" >  
              <fieldset>
                <br>
                <% if !@errors.empty? %>
                   <legend style="color: red;  font-weight: bold; font-size: 14px;"
                    <p>The Following Errors Were Encountered: </p>
                    <% @errors.each do |e| %>
                      <p><%=e%></p>
                    <% end %>
                  </legend>
                <% end %>
                <div class="control-group" >
                  <div class = "row">
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Name</label> 
                      <input type="text" class="form-control" name="name"  title="Name" placeholder="Name" value="<%=@guest.name%>" required >
                    </div>
                    <div class="col-md-6">
                      <label class="control-label" for="textarea">Client Type</label>  
                      <select name="client_type"  class="form-control" class="form-control" style="width:100%; ">
                        <% if @guest.client_type.nil? %>
                        <% @guest.client_type = @client_types[0] %>
                        <% end %>
                        <% @workshop_guest_types.each do |client_type|%>   
                          <% if @guest.client_type == client_type %>       
                            <option value="<%= client_type %>" name="client_type" selected><%= client_type %></option>
                          <% else %>
                            <option value="<%= client_type %>" name="client_type" ><%= client_type %></option>
                          <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class = "row">
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Email</label>
                      <input type="text" class="form-control" name="email" title="Email"  placeholder="Email" value="<%=@guest.email%>" >
                    </div> 
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Amount</label>
                      <input type="text" class="form-control" name="amount" title="Amount"  placeholder="Amount" value="<%=@guest.amount%>" >
                    </div>   
                  </div>
                  <div class = "row">
                    <div class = "col-md-6">
                      <label class="control-label" for="textarea">Phone</label>
                      <input type="text" class="form-control" name="phone" title="Phone"  placeholder="Phone" value="<%=@guest.phone%>" >
                    </div> 
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:15px;margin-left:15px;"><span></span>
                        <input id="paid" type="checkbox" value="<%=@guest.paid%>" name="paid" name="paid" 
                        <% if @guest.paid%>
                        checked
                        <% end %>
                        ><label for="paid">Paid?</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:15px;margin-left:15px;"><span></span>
                        <input id="email_sent" type="checkbox" value="<%=@guest.email_sent%>" name="email_sent" 
                        <% if @guest.email_sent%>
                        checked
                        <% end %>
                        ><label for="email_sent">Email Sent?</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:10px;margin-left:15px;"><span></span>
                        <input id="in_both" type="checkbox" value="<%=@guest.in_both%>" name="in_both" 
                        <% if @guest.in_both%>
                          checked
                        <% end %>
                        ><label for="in_both">In Both?</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:10px;margin-left:15px;"><span></span>
                        <input id="hw_complete" type="checkbox" value="<%=@guest.hw_complete%>" name="hw_complete" 
                        <% if @guest.hw_complete%>
                        checked
                        <% end %>
                        ><label for="hw_complete">HW Complete?</label>
                      </div>
                    </div>
                  </div>

                  <% if @workshop.workshop_type == ELI %>
                   <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:10px;margin-left:15px;"><span></span>
                          <input id="eli_released" type="checkbox" value="<%=@guest.eli_released%>" name="eli_released" 
                          <% if @guest.eli_released%>
                          checked
                          <% end %>
                          ><label for="eli_released">ELI Released?</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:10px;margin-left:15px;"><span></span>
                          <input id="results_back" type="checkbox" value="<%=@guest.results_back%>" name="results_back" 
                          <% if @guest.results_back%>
                          checked
                          <% end %>
                          ><label for="results_back">Results Back?</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:10px;margin-left:15px;"><span></span>
                          <input id="follow_up_email" type="checkbox" value="<%=@guest.follow_up_email%>" name="follow_up_email" 
                          <% if @guest.follow_up_email%>
                          checked
                          <% end %>
                          ><label for="follow_up_email">Follow Up Email?</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:10px;margin-left:15px;"><span></span>
                          <input id="results_prepared" type="checkbox" value="<%=@guest.results_prepared%>" name="results_prepared" 
                          <% if @guest.results_prepared%>
                          checked
                          <% end %>
                          ><label for="results_prepared">Results Prepared?</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="fac fac-checkbox fac-success " style="font-size:1.25em; margin-top:10px;margin-left:15px;"><span></span>
                          <input id="follow_up_session" type="checkbox" value="<%=@guest.follow_up_session%>" name="follow_up_session" 
                          <% if @guest.follow_up_session%>
                          checked
                          <% end %>
                          ><label for="follow_up_session">Follow up Session?</label>
                        </div>
                      </div>
                    </div>

                  <% end %>

                  <div class = "row">
                    <div class = "col-md-12">
                      <label class="control-label" for="textarea">Lunch</label>
                      <textarea type="text" class="form-control" rows="4" name="lunch" title="Lunch"  placeholder="Place Lunch Order Here"  ><%=@guest.lunch%></textarea>
                    </div> 
                  </div>
                  <div class = "row">
                    <div class = "col-md-12">
                      <label class="control-label" for="textarea">Notes</label>
                      <textarea type="text" class="form-control" rows="4" name="notes" title="Notes"  placeholder="Additional Notes"  ><%=@guest.notes%></textarea>
                    </div> 
                  </div>
                  <input type="hidden" name="id" value = "<%= @guest.id%>">
                </div>
              </fieldset>
              <hr>
              <div class="form-actions">
                <button type="submit" value="Submit" name="commit" class="btn btn-success">Save</button>
                <button type="reset" class="btn" onclick="history.go(-1);">Cancel</button>
              </div>
            </form>
          </div><!-- panel body -->
      </div><!-- panel default -->
      </div><!-- col sm 5 -->
    </div><!-- col sm 2-->
  </div><!-- row -->
</div><!--/container-->