<section id="forms"  style="margin-left: 15%;">
    <div class="col-md-9">
    <br>
      <form class="form-horizontal well" action="<%=@callback_method%>?id=<%= @workshop.id %>" method="post" >   
        <fieldset>
          <legend>Edit Workshop</legend>
          <br>
          <% if !@errors.empty? %>
             <legend style="color: red;  font-weight: bold; font-size: 14px;"
              <p>The Following Errors Were Encountered: </p>
              <% @errors.each do |e| %>
                <p><%=e%></p>
              <% end %>
            </legend>
          <% end %>
          <div class = "row">
            <div class = "col-md-6">
              <div class="control-group" >
                <label class="control-label" for="textarea">Name</label> 
                <input type="text" class="form-control" name="name" value="<%=@workshop.name%>" required >
              </div>
            </div>
            <div class = "col-md-3">
              <label class="control-label" for="textarea">Workshop Date</label>
              <input type="text" class="form-control" name="date"  title="Enter Workshop Date" value="<%=@workshop.date%>" placeholder="Workshop Date" id="dp1" >
            </div>  
            <div class = "col-md-2">
              <label class="control-label" for="textarea">Add Attendee</label>
              <td><a href="/new_guest?workshop_id=<%=@workshop.id%>" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-plus"></span></a>
              </td>
            </div>  
            <div class = "col-md-2">
              <label class="control-label" for="textarea">Add Expense</label>
              <td><a href="/new_workshop_expense?workshop_id=<%=@workshop.id%>" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-plus"></span></a>
              </td>
            </div>  
          </div>
          <hr>
          <div class = "row">
            <legend> Workshop Attendees</legend>
          </div>

          <div class = "row">
              <div class="well col-md-10" style="background-color:white;">
              <table class="col-md-12 table table-condensed table-bordered table-striped table-hover table-responsive" style="display:block; height:300px;">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Paid?</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @attendees != nil && @attendees.size > 0 %>
                  <% total_paid = 0 %>
                    <% @attendees.each do |entry| %>
                      <tr>
                        <td><%= entry[:id]%></td>
                        <td><%= entry[:name]%></td>
                        <td>$<%= entry[:amount] %></td>
                        <td><%= entry[:paid] %></td>
                        <% total_paid = total_paid + entry[:amount].to_f %>
                        <td><a href="/edit_guest?id=<%= entry[:id]%>" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td><a href="/delete_guest?id=<%= entry[:id]%>" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                      </tr> 
                      <% end %> 
                      <tr>
                        <td>Total Amount:</td>
                        <td></td>
                        <td></td>
                        <td>$<%= total_paid  %></td>
                      </tr> 
                  <% end %> 
                </tbody>
              </table>
            </div>  
          </div>  
        <hr>

          <div class = "row">
            <legend> Workshop Expenses</legend>
          </div>
          <div class = "row">
              <div class="well col-md-8" style="background-color:white;">
              <table class="col-md-9 table table-condensed table-bordered table-striped table-hover table-responsive" style="display:block; height:200px;">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @workshop_expenses != nil && @workshop_expenses.size > 0 %>
                  <% total_expenses = 0 %>
                    <% @workshop_expenses.each do |entry| %>
                      <tr>
                        <td><%= entry[:description]%></td>
                        <td>$<%= entry[:amount] %></td>
                        <% total_expenses = total_expenses + entry[:amount].to_f %>
                        <td><a href="/edit_workshop_expense?id=<%= entry[:id]%>" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td><a href="/delete_workshop_expense?id=<%= entry[:id]%>" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                      </tr> 
                    <% end %> 
                    <tr>
                      <td>Total Amount:</td>
                      <td>$<%= total_expenses  %></td>
                    </tr> 
                  <% end %> 
                </tbody>
              </table>
            </div>  
          </div>  
        <hr>


        <div class="form-actions">
          <button type="submit" class="btn btn-success" title="Select to Save Payment Information">Save</button>
          <button type="reset" class="btn" onclick="history.go(-1);">Cancel</button>
        </div>
        <input type="hidden" name="id" value="<%= @workshop.id%>">
      </fieldset>
    </form>
  </div>
</section>
