<section id="forms" style="margin-left: 10%;">
    <div class="col-md-10">
      <br>
      <form class="form-horizontal well" action="<%= @preview_callback_method %>" method="post" >
        <fieldset>
          <legend><%= @template.humanize.titleize%> Template</legend>
          <div class="control-group" >
            <!--<div class="col-md-12">-->
             
              <div clsss="row">
                <div class="col-sm-6">
                  <label class="control-label" for="textarea">Name</label> 
                  <input type="text" class="form-control" name="name" title="Enter Recipients Name" placeholder="Name" required >
                </div>
                <div class="col-sm-6">
                  <label class="control-label" for="textarea">Email</label> 
                  <input type="text" class="form-control" name="email" title="Enter Recipients Email" placeholder="Email" required >
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-12">
                  <label class="control-label" for="textarea">Text 1</label>
                  <textarea class="form-control" name="text1" rows="2"><%=@text1 %>
                  </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-12">
                  <label class="control-label" for="textarea">Text 2</label>
                  <textarea class="form-control" name="text2" rows="4"><%=@text2 %>
                  </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-12">
                  <label class="control-label" for="textarea">Text 3</label>
                  <textarea class="form-control" name="text3" rows="2"><%=@text3 %>
                  </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-12">
                  <label class="control-label" for="textarea">Text 4</label>
                  <textarea class="form-control" name="text4" rows="2"><%=@text4 %>
                  </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-12">
                  <label class="control-label" for="textarea">Closing Text</label>
                  <textarea class="form-control" name="closing_text" rows="2"><%=@closing_text %>
                  </textarea>
                </div>
              </div>
              <br>
              <div clsss="row">
                <div class="col-md-12">
                  <input class="faChkSqr 2x" checked="on" name="include_pricing_info"type="checkbox"><label>Include Pricing Information?</label>
                </div>
              </div>
              <input type="hidden" name="template" value="<%= @template %>">
              <br>
              <hr>
              <input type="hidden" name="send_callback_method" value="<%= @send_callback_method%>">
              <div class="form-actions">
                <button type="submit" class="btn btn-success">Preview</button>
                <button type="reset" class="btn">Cancel</button>
              </div>
            </div>        
          </div>        
        <!--</div> -->
        </fieldset>
      </form>
    </div>
</section>
<!--
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <script type='text/javascript'>
  $(document).ready(function() {
  
  });
  </script>
        
    </body>
</html>

-->