<div class="container" style="width:100%; margin-left:4%">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <h4>This Year: $<%= @sum_this_year  %></h4>
    </div>
    <div class="col-md-2">
      <h4>This Month: $<%= @sum_this_month  %></h4>
    </div>
    <div class="col-md-2">
      <h4>This Week:$<%= @sum_this_week  %></h4>
    </div>
    <div class="col-md-2">
      <h4>Today:$<%= @sum_today  %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" id="leftCol">
      <h3>Filters</h3>
    </div>
    <div class="col-md-9">
      <h3>Payment Summary</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" id="leftCol">
      <form class="form-horizontal well" action="/filter_payments" method="post">
      <fieldset>
        <!-- Form Name -->
        <div class="control-group" style="display:block; line-height:2">
          <div  style="position:relative;">
            <label class="control-label" for="textarea">Category</label>  
            <select name="category[]"  >
             <% if @category_selected == "All" %>
                <option value="All" selected>All</option>"
              <%else%>
                <option value="All">All</option>"
              <% end %>
              <% categories.each do |category|%>         
               <% if @category_selected == category.id.to_s %>
                  <option value="<%= category.id %>" selected><%= category.name %></option>
                <%else%>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              <% end %>
            </select>
            <br>
            <label class="control-label" for="textarea">Coach</label>  
            <select name="coach[]" >



              <% if @coach_selected == "All" %>
                <option value="All" selected>All</option>"
              <%else%>
                <option value="All">All</option>"
              <% end %>
              <% coaches.each do |coach|%>         
               <% if @coach_selected == coach.id.to_s %>
                  <option value="<%= coach.id %>" selected><%= coach.name %></option>
                <%else%>
                  <option value="<%= coach.id %>"><%= coach.name %></option>
                <% end %>
              <% end %>
            </select>

            <br>
            <label class="control-label" for="textarea">Transaction</label>  
            <select name="transaction[]" > 
              <% if @transaction_selected == "All" %>
                <option value="All" selected>All</option>">
              <% else %>
                <option value="All">All</option>">
              <%end %> 
              <% if @transaction_selected == "Credit Card" %>
                <option value="Credit Card" selected>Credit Card</option>">
              <% else %>
                <option value="Credit Card">Credit Card</option>">
              <%end %>
              <% if @transaction_selected == "Check" %>
                <option value="Check" selected>Check</option>">
              <% else %>
                <option value="Check">Check</option>">
              <%end %>
            </select>
            <br>
            <label class="control-label" for="textarea">Start Date</label>
            <input type="text" class="form-control" name="start_date"  title="Enter Appt Date" value="<%=@start_date_selected%>" placeholder="Start Date" id="dp1" > 
            <label class="control-label" for="textarea">End Date</label>
            <input type="text" class="form-control" name="end_date"  title="Enter Payment Due Date" value="<%=@end_date_selected%>" placeholder="End Date" id="dp2" > 
            <br>
            <input type="submit" value="Submit" name="submit" class="btn btn-success"  >
            <br>
          </div>
        </div>
      </fieldset>
      </form>
    </div>
    <div class="col-md-9">
        <table class="table table-condensed table-bordered table-striped table-hover table-responsive" style="display:block; height:500px;">
          <thead>
            <tr>
              <th>#</th>
              <th>Payment Date</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Coach</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <% if @payments != nil && @payments.size > 0 %>
              <% total_amount=0 %>
              <% @payments.each do |entry| %>
                <tr>
                  <td><%= entry[:id]%></td>
                  <td><%= entry[:payment_date].strftime("%m/%d/%Y") %></td>
                  <td><%= entry[:name] %></td>
                  <td>$<%= entry[:amount] %></td>
                  <td><%= Coach.find_by_id(entry[:coach_id]).name %></td>
                <td><%= Category.find_by_id(entry[:category_id]).name %></td>
                </tr>	
            <% end %>	
            <tr>
              <td>Total Amount:</td>
              <td></td>
              <td>$<%= @payment_sum  %></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>	
            <% end %>	
          </tbody>
        </table>	
      	 <br>
    <h3>Income By Category</h3>
    <%= pie_chart @category_chart %>
  <br> 


        <form action="/done_weekly_payments" method="post">
          <input type="submit" value="Done" name="done" class="btn btn-success"  >
        </form>
        <br> 
      </div>
    </div>
</div>
