<section id="forms" style="margin-left: 10%;">
    <div class="col-md-10">
      <br>
      <form class="form-horizontal well" action="<%= @preview_callback_method %>" method="post" >
        <fieldset>
          <legend><%= @template.humanize.titleize%> Template</legend>
          <div class="control-group" >
            <div class="col-md-12">
              <div clsss="row">
                <div class="col-md-6">
                  <label class="control-label" for="textarea">Workshop Date</label>
                  <input type="text" class="form-control" name="appt_date"  title="Enter Workshop Date" placeholder="Workshop Date" id="dp1" > 
                </div>
                <div class="col-md-6">
                 <label class="control-label" >Time</label>
                    <select class="form-control" name="appt_start">
                    <option value="7:00 am">7:00 am</option>
                    <option value="8:00 am">8:00 am</option>
                    <option value="9:00 am">9:00 am</option>
                    <option value="10:00 am">10:00 am</option>
                    <option value="11:00 am">11:00 am</option>
                    </select>     
                </div>      
              </div>
              <div clsss="row">
                <div class="col-md-6">
                <label class="control-label" for="textarea">Location</label>
                <textarea class="form-control" name="text1" rows="3"><%=@text1 %>
                </textarea>
                </div>
                <div class="col-md-6">
                <label class="control-label" for="textarea">Date and Time</label>
                <textarea class="form-control" name="text2" rows="3"><%=@text2 %>
                </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-10">
                <label class="control-label" for="textarea">Food</label>
                <textarea class="form-control" name="text3" rows="2"><%=@text3 %>
                </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-10">
                <label class="control-label" for="textarea">Heads-up</label>
                <textarea class="form-control" name="text4" rows="6"><%=@text4 %>
                </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-10">
                <label class="control-label" for="textarea">The Icebreaker:</label>
                <textarea class="form-control" name="text5" rows="3"><%=@text5 %>
                </textarea>
                </div>
              </div>
              <div clsss="row">
                <div class="col-md-10">
                <label class="control-label" for="textarea">Pre-Work</label>
                <textarea class="form-control" name="closing_text" rows="2"><%=@closing_text %>
                </textarea>
                </div>
              </div>
              <input type="hidden" name="template" value="<%= @template %>">
              <input type="hidden" name="greeting" value="<%= @greeting %>">
              <br>
            </div>
            <br>
            </fieldset>
              <input type="hidden" name="send_callback_method" value="<%= @send_callback_method%>">
              <div class="form-actions">
                <button type="submit" class="btn btn-success">Preview</button>
                <button type="reset" class="btn">Cancel</button>
            </div>
      </form>
    </div>
</section>
<!--
  <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

  <script type='text/javascript'>
  $(document).ready(function() {
  
  });
  </script>
        
    </body>
</html>

-->