  <body> 
    <div class="thumbnail" style="width: 600px; margin-left: 10%; margin-top: 2%;">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" alt="<= @reference %>"  style="display: block; margin-left: auto;margin-right: auto;"></a>
        <br>
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px; margin-bottom: 20px;">
          <br>
      <p>Hi <%=@name%>,</p>
      <p><%= @greeting1%> <b><%= @appt_date_formatted %></b> <%= @greeting2%>. </p>
      <div class="row">
        <div class="col-lg-12">
          <p><b><u>Location</u></b></p>
          <p><%= @text1%></p>
       </div>
     </div>
      <br>
      <div class="row">
        <div class="col-lg-12">
           <% if @appt_date_formatted  %>
              <p><b><u>Date and Time</u></b></p>
              <p>We will begin on <b><%= @appt_date_formatted %>, at <%= @appt_start %> Sharp!</b>The training will end at or before 4:00 pm.  </p>
              <br>
              <p><b>If you are late, you will not be admitted to the workshop. Please do not disrupt us.</b></p>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p><b><u>Food</u></b></p>
            <p>Please reply to this e-mail with your potbelly lunch order no later than noon on the Friday before the workshop.  The everyday menu is located <a href="http://www.potbelly.com/Food/OurMenu.aspx?subPage=Sandwiches" style="color: #8bc129;">here</a>, and the soup menu by day is listed <a href="http://www.potbelly.com/Shops/ShopLocator.aspx#&&ss=False&lat=41.9703133&sid=238&lng=-87.663045&p=1&b=0&sl=False&d=0&s=60640&f=0&v=True" style="color: #8bc129;">Here</a> .  Please, if you are ordering a sandwich, make sure you provide all details needed to order (size, type of bread, toppings, etc.).  If we don’t hear back from you by noon on Friday, we’ll order a turkey sandwich for you.  We will provide coffee in the morning, and drinks and snacks through-out the day.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <p><b><u>Heads-up</u></b></p>
            <p><%= @text3 %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <p><b><u>The Icebreaker</u></b></p>
            <p><%= @text4 %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <p><b><u>Pre-work</u></b></p>
            <p><%= @closing_text %></p> 
            <p>Best regards,</p>
            <p>Kelly</p>
          </div>
        </div>
    
   <form action="<%=@send_callback_method%>" method="post" >
    <div >
      <input type="hidden" name="name" value="<%= @name%>">
      <input type="hidden" name="email" value="<%= @email%>">
      <input type="hidden" name="amount" value="<%= @amount%>">
      <input type="hidden" name="location" value="<%= @location%>">
      <input type="hidden" name="appt_date" value="<%= @appt_date%>">
      <input type="hidden" name="appt_start" value="<%= @appt_start%>">
      <input type="hidden" name="payment_date" value="<%= @payment_date%>">
      <input type="hidden" name="text1" value="<%= @text1%>">
      <input type="hidden" name="text2" value="<%= @text2%>">
      <input type="hidden" name="text3" value="<%= @text3%>">
      <input type="hidden" name="text4" value="<%= @text4%>">
      <input type="hidden" name="text5" value="<%= @text5%>">
      <input type="hidden" name="template" value="<%= @template%>">
      <input type="hidden" name="payment_text" value="<%= @payment_text%>">
      <input type="hidden" name="closing_text" value="<%= @closing_text%>">
      <input type="hidden" name="greeting" value="<%= @greeting%>">
      <input type="hidden" name="greeting1" value="<%= @greeting1%>">
      <input type="hidden" name="greeting2" value="<%= @greeting2%>">
      <input type="hidden" name="workshop_id" value="<%= @workshop_id%>">
      <input type="hidden" name="email_all" value="<%= @email_all%>">
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success" title="Select to Email to Client">Send</button>
      <button type="reset" class="btn" onclick="history.go(-1);" >Cancel</button>
    </div>
  </form>
     </div>
    <br>
</div>
</body>
