  <body> 
    <div class="thumbnail" style="width: 600px; margin-left: 10%; margin-top: 2%;">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" alt="<= @reference %>"  style="display: block; margin-left: auto;margin-right: auto;"></a>
        <br>
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px; margin-bottom: 20px;">
          <br>
        <p>Dear <%=@name%>,</p>
        <p><%= @text1%></p>
        <p><%= @text2%></p>
        <p><%=@text3%></p>
        <p>Your Registration Key is <%=@registration_key%></p>
        <p><%=@text4%></p>
        <p><%=@text5%></p>
        <p><%=@closing_text%></p>
        <p>Kelly</p>

        <p>Here are the basics to taking the Highlands Battery online:</p>
        <ol>
          <li>Please read the complete instructions (attached).</li>
          <li>Go to www.abilitybattery.com</li>
          <li>When prompted, enter your <b>Registration Key</b>.  This is your code to enter the test.  No one else may use this code, and you cannot enter the Ability Battery without it.<p> Your <b>Registration Key</b> is <%= @registration_key%></p></li>
          <li>Please enter my name, <b><%= @coach.name%></b>, as your Highlands Affiliate</li>
          <li>Make sure that you choose <b>[REPORT_TYPE]</b> when asked in the registration form. </li>
          <li>Follow the prompts during the test.  The entire battery will take approximately three hours; however, you do not need to take the entire test at one sitting. </li>
          <li>My recommendations: Take the Ability Battery in a time and place where you won’t be distracted. Use headphones and a mouse (not trackpad).</li>
          <li> If you encounter any technical problems, please contact Technical Support at 1-866-528-3069.</li>
          <li>You will not receive a report upon completion. It will come to me and I will hand you a copy when we meet for your debrief. If we are meeting via phone, I will send you the reports just prior to our call.</li>
        </ol>

   <form action="<%=@send_callback_method%>" method="post" >
    <div >
      <input type="hidden" name="name" value="<%= @name%>">
      <input type="hidden" name="coach" value="<%= @coach%>">
      <input type="hidden" name="email" value="<%= @email%>">
      <input type="hidden" name="text1" value="<%= @text1%>">
      <input type="hidden" name="text2" value="<%= @text2%>">
      <input type="hidden" name="text3" value="<%= @text3%>">
      <input type="hidden" name="text4" value="<%= @text4%>">
      <input type="hidden" name="text5" value="<%= @text5%>">
      <input type="hidden" name="registration_key" value="<%= @registration_key%>">
      <input type="hidden" name="template" value="<%= @template%>">
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success" title="Select to Email to Client">Send</button>
      <button type="reset" class="btn" onclick="history.go(-1);" >Cancel</button>
    </div>
  </form>
</div>
</body>
