    <div class="thumbnail" style="width: 600px; margin-left: 10%; margin-top: 2%;">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png"  style="display: block; margin-left: auto;margin-right: auto;"></a>
        <br>
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px; margin-bottom: 20px;">
          <br>
      <p>Hello everyone,</p>
      <p><%= @greeting%> </p>
      <p><%= @text1%><b><%= @appt_date_formatted %></b>, on or before<b>&nbsp<%= @appt_start %> CT</b>.&nbsp</p>
      <p><%= @text2%></p>
      <p><%= @text3%></p>
      <div class="row">
        <div class="col-lg-12">
          <p><%= @closing_text %></p> 
          <p>Kelly</p>
        </div>
      </div>
      <br><i>
      <p>Please note - the attached template must be opened using Adobe Reader (available for free here: <a href="http://get.adobe.com/reader/">get.adobe.com/reader</a> or Adobe Acrobat to be functional. Using another PDF reader such as Preview on a Mac will result in the form not functioning correctly. </i></p>
      <br>

<p><i>Please save your completed form as Post Workshop Homework-First Name Last Name (example: Post Workshop Homework-Joe Smith) and attach it in an email to <a href="mailto:support.team@jodymichael.com">support.team@jodymichael.com</a>&nbsp by the due date.  If you have any trouble with the document, please let me know!</i></p>
    
   <form action="<%=@send_callback_method%>" method="post" >
    <div >
      <input type="hidden" name="email" value="<%= @email%>">
      <input type="hidden" name="template" value="<%= @template%>">
      <input type="hidden" name="closing_text" value="<%= @closing_text%>">
      <input type="hidden" name="greeting" value="<%= @greeting%>">
      <input type="hidden" name="text1" value="<%= @text1%>">
      <input type="hidden" name="text2" value="<%= @text2%>">
      <input type="hidden" name="text3" value="<%= @text3%>">
      <input type="hidden" name="appt_date" value="<%= @appt_date%>">
      <input type="hidden" name="appt_start" value="<%= @appt_start%>">
      <input type="hidden" name="workshop_id" value="<%= @workshop_id%>">
      <input type="hidden" name="email_all" value="<%= @email_all%>">
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success" title="Select to Email to Client">Send</button>
      <button type="reset" class="btn" onclick="history.go(-1);" >Cancel</button>
    </div>
  </form>
     </div>
    <br>
</div>
</body>
