<div class="wrapper">
  <div >
<h3>Weekly Credit Card Payment Summary</h3>
  <table class="table table-condensed table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Coach</th>
        <th>Category</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% if Payment.paid_entries_today != nil && Payment.paid_entries_today.size > 0 %>
        <% i = 1 %>
        <% total_amount=0 %>
        <% Payment.paid_entries_today.each do |entry| %>
          <tr>
            <td><%= i %></td>
            <td><%= entry[:name] %></td>
            <td>$<%= entry[:amount] %></td>
            <td><%= Coach.find_by_id(entry[:coach_id]).name %></td>
            <td><%= Category.find_by_id(entry[:category_id]).name %></td>
            <td><%= entry[:status] %></td>
          </tr>
        <% i = i + 1 %>			
      <% end %>	
      <tr>
        <td>Total Amount:</td>
        <td></td>
        <td>$<%= Payment.total_payments_today %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>	
      <% end %>	
    </tbody>
  </table>	
	<br>

  <form action="/done_weekly_payments" method="post">
    <input type="submit" value="Done" name="done" class="btn btn-success"  >
  </form>
  <br> 
</div>
</div>
