<div class="container">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-2">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-flash"></i> Links</h3> 

      <hr>
      
      <ul class="nav nav-stacked">
        <li><a href="/new_guest?workshop_id=<%= @workshop.id%>"><i class="glyphicon glyphicon-plus"></i> Add Workshop Attendee</a></li>
        <li><a href="/new_workshop_expense?workshop_id=<%= @workshop.id%>"><i class="glyphicon glyphicon-plus"></i> Add Expense</a></li>
        <li><a href="/workshops"><i class="glyphicon glyphicon-briefcase"></i> Workshops</a></li>
        <li><a href="/accountability_mirror_pre_workshop?id=<%=@workshop.id%>"><i class="glyphicon glyphicon-envelope"></i> Send Accountability Mirror pre-workshop email</a></li>
        <li><a href="/workshops"><i class="glyphicon glyphicon-envelope"></i>Accountability Mirror post-workshop email</a></li>

    </div><!-- /span-3 -->
    <div class="col-sm-10">
      <!-- column 2 --> 
       <h3><i class="fa fa-users"></i> &nbsp Workshop Attendees</h3>  
       <hr>
        <!--<table class="table table-condensed table-bordered table-striped table-hover table-responsive" > -->
        <table class="table table-striped table-bordered table-striped table-hover">
         <thead>
          <tr>
            <th>#</th>
            <th> Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Paid?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @attendees != nil && @attendees.size > 0 %>
            <% total_amount=0 %>
            <% @attendees.each do |entry| %>
              <tr>
                <td><%= entry[:id]%></td>
                <td><%= entry[:name] %></td>
                <td><%= entry[:email]%></td>
                <td><%= entry[:phone]%></td>
                <td><%= entry[:client_type] %></td>
                <td><%= entry[:amount] %></td>
                <% if entry[:paid] %>
                  <% total_amount = total_amount + entry[:amount].to_f %>
                  <td><i class="fa fa-check"></i></td>
                <% else %>
                  <td>no</td>
                 <% end %>
                <td>
                <a href="/edit_guest?id=<%= entry[:id]%>"  class="btn btn-primary btn-xs">
                    <!--<span class="glyphicon glyphicon-pencil"></span> -->
                    <span class="fa fa-pencil"></span>
                </a></td>
              </tr> 
            <% end %>  
            <tr>
            <td></td>
            <td>Total Amount:</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$<%= total_amount  %></td>
            <td></td>
            <td></td>
          </tr> 
          <% end %> 
        </tbody>
      </table>
      </div>
    </div>
    <div class="row">  <div class="row">
    <div class="col-sm-2">
      <!-- left -->
    </div><!-- /span-3 -->
    <div class="col-sm-10">
      <!-- column 2 --> 
       <hr>
       <h3><i class="fa fa-usd"></i> &nbsp Workshop Expenses</h3>  
       <hr>
        <!--<table class="table table-condensed table-bordered table-striped table-hover table-responsive" > -->
        <table class="table table-striped table-bordered table-striped table-hover">
         <thead>
          <tr>
            <th>#</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @expenses != nil && @expenses.size > 0 %>
            <% total_amount=0 %>
            <% @expenses.each do |entry| %>
              <tr>
                <td><%= entry[:id]%></td>
                <td><%= entry[:description] %></td>
                <td><%= entry[:amount] %></td>
                <% total_amount = total_amount + entry[:amount].to_f %>
                <td>
                <a href="/edit_guest?id=<%= entry[:id]%>"  class="btn btn-primary btn-xs">
                    <!--<span class="glyphicon glyphicon-pencil"></span> -->
                    <span class="fa fa-pencil"></span>
                </a></td>
              </tr> 
            <% end %>  
            <tr>
            <td></td>
            <td>Total Expenses:</td>
            <td>$<%= total_amount.round(2)   %></td>
            <td></td>
          </tr> 
          <% end %> 
        </tbody>
      </table>
      </div>
    </div>
    <div class="row">  
  
</div><!--/container-->