<div class="container admin">
  <div class="row row-offcanvas row-offcanvas-left">      
    <!-- sidebar -->
    <div class="col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul >
        <li class="active"><a href="/new_workshop" class="btn btn-success btn-sm">
            <span class="fa  fa-plus fa-2x"></span>
        </a></li>
      </ul>
    </div>
    <!-- main area -->
    
    <div class="col-md-9">
      <h3>Workshop Summary</h3>
      <table class="table table-condensed table-bordered table-striped table-hover table-responsive" style="display:block; height:300px;">
        <thead>
          <tr>
            <th>#</th>
            <th style="width: 300px;">Workshop Date</th>
            <th style="width: 300px;">Workshop Name</th>
          </tr>
        </thead>
        <tbody>
          <% if @workshops != nil && @workshops.size > 0 %>
            <% total_amount=0 %>
            <% @workshops.each do |entry| %>
              <tr>
                <td><%= entry[:id]%></td>
                <td><%= entry[:date].strftime("%m/%d/%Y") %></td>
                <td><%= entry[:name] %></td>
                <td>
                  <a href="/view_workshop?id=<%= entry[:id]%>" class="btn btn-success btn-sm">
                      <span class="fa fa-eye fa-2x"></span>
                  </a>
                </td>
                <td>
                <a href="/edit_workshop?id=<%= entry[:id]%>" class="btn btn-primary btn-sm">
                    <!--<span class="glyphicon glyphicon-pencil"></span> -->
                    <span class="fa fa-pencil fa-2x"></span>
                </a></td>
                <td>
                <a href="/delete_workshop?id=<%= entry[:id]%>" class="btn btn-danger btn-sm">
                    <span class="fa fa-trash fa-2x"></span>
                </a></td>
              </tr> 
          <% end %> 
          <% end %> 
        </tbody>
      </table>  
         <br>
      </div> <!--/.col-md-9 -->
  </div><!--/.row-->
  </div><!--/.container-->